<!DOCTYPE html>
<html>
  <head>
    <title>Rails1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>

    <body>

      <% if flash[:errors] %>
  		<% flash[:errors].each do |e| %>
  			<p><%= e %></p>
  		<% end %>
  	<% end %>

    
    <% if @current_user%>
		<form action="/logout">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Log Out">
		</form>
	<% end %>
    <%= yield %>
  </body>
</html>
